class Goroon < Formula
  desc "Garoon Command Line Interface"
  homepage "https://github.com/tzmfreedom/goroon"

  @@version = "{VERSION}"
  version @@version

  option "without-completions", "Disable zsh completions"

  if Hardware::CPU.is_64_bit?
    url "https://github.com/tzmfreedom/goroon/releases/download/v#{@@version}/goroon-#{@@version}-darwin-amd64.tar.gz"
    sha256 '{SHA256_AMD64}'
  else
    url "https://github.com/tzmfreedom/goroon/releases/download/v#{@@version}/goroon-#{@@version}-darwin-386.tar.gz"
    sha256 '{SHA256_386}'
  end

  def install
    bin.install 'goroon'
    if build.with? 'completions'
      zsh_completion.install '_goroon'
    end
  end

  test do
    system "false"
  end
end


